/***** VARIAVEIS *****/
$azul: #2685c8;
$azul-borda: #b4bcdd;
$azul-claro: #e7ebf9;
$azul-claro-fonte: #7dd3ff;
$azul-escuro: #1a4187;
$azul-footer: #a3c7fe;
$azul-search: #e7edf9;
$branco: #ffffff;
$cinza: #6e6e6e;
$cinza-claro: #cccccc;
$cinza-claro-2: #eeeeee;
$cinza-fonte: #666666;
$cinza-footer: #69696a;
$preto: #000000;
$vermelho-escuro: #831e1e;