/***** VARIAVEIS *****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/******************** Elements ********************/
body {
  font-family: 'Lato', sans-serif;
}

/******************** Classes ********************/
.reveal section img {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*********************************************
 * BUTTON!
 *********************************************/
.button {
  position: relative;
  display: inline-block;
  margin: 20px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.button span {
  color: #ffffff !important;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 90px;
  text-align: center;
  text-decoration: none;
  background-color: #FFA12B;
  display: block;
  position: relative;
  padding: 40px 80px;
  -webkit-tap-highlight-color: transparent;
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button span:active {
  top: 10px;
  background-color: #F78900;
  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*********************************************
 * BUTTON LEVEL
 *********************************************/
.button-level {
  background-color: #FFA12B;
  position: relative;
  display: block;
  margin: 20px !important;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.button-level .level {
  bottom: 0;
  height: 0%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}
.button-level .level.blue {
  background: #3498db;
}
.button-level .level.green {
  background: #27ae60;
}
.button-level .level.red {
  background: #e74c3c;
}
.button-level .level.yellow {
  background: #f1c40f;
}
.button-level span {
  color: #ffffff !important;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 90%;
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 40px 80px;
  -webkit-tap-highlight-color: transparent;
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 99;
}
.button-level span:active {
  top: 10px;
  background-color: #F78900;
  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button-level:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*********************************************
 * CHAT
 *********************************************/
div.chat {
  background: rgba(255, 255, 255, 0.9);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 99;
}
div.chat .button {
  display: block;
}
div.chat .button span {
  font-size: 30px;
}
div.chat h2 {
  font-size: 20px;
  padding: 10px;
}
div.chat input[type="text"] {
  font-size: 20px;
  margin-bottom: 5px;
  padding: 0.8em 0;
  width: 100%;
}
div.chat .messages {
  background: #eee;
  font-size: 20px;
  height: 40%;
  overflow: scroll;
  width: 100%;
}
div.chat .messages p {
  color: #8e44ad;
  margin: 2px 0;
  padding: 5px;
  text-align: left;
}
div.chat .messages p.me {
  color: #000000;
}

/*********************************************
 * COUNTER
 *********************************************/
div.users-counter {
  position: fixed;
  right: 10px;
  top: 10px;
}

/*********************************************
 * JEQUITI
 *********************************************/
div.jequiti-background {
  background: url(../images/jequiti.jpg) no-repeat center center #ffffff;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999999;
}

/*********************************************
 * NICKNAME
 *********************************************/
.nickname {
  background: rgba(255, 255, 255, 0.9);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 99;
}
.nickname .button span {
  font-size: 50px;
}
.nickname input[type="text"] {
  font-size: 20px;
  max-width: 400px;
  padding: 0.8em;
  width: 80%;
}
.nickname .message {
  font-size: 30px;
}

/******************** Ids ********************/
/******************** Media Queries ********************/
/******************** Elements ********************/
/******************** Classes ********************/
/******************** Ids ********************/
/******************** Media Queries ********************/
